:root{
      --verydarkblue: hsl(238, 29%, 16%);
--softred: hsl(14, 88%, 65%);

      --softviolet: hsl(273, 75%, 66%);
--softblue: hsl(240, 73%, 65%);

--grayishblue: hsl(237, 12%, 33%);
--darkgrayishblue: hsl(240, 6%, 50%);

--lightblue: hsl(240, 5%, 91%);

--bfont: 'Kumbh Sans', sans-serif;
    }
    html, body{
      height: 100%;
    }
    body{
      font-family: var(--bfont);
background: linear-gradient(0deg, var(--softblue) 10%, var(--softviolet) 100%);
    }
    img{
      width: 100%;
      height: auto;
      margin-left: -7
      em;
    }
    main{
      display: flex;
      height: 100%;
      align-items: center;
      justify-content: center;
    }
    h1{
      color: var(--verydarkblue);
      font-size: 2em;
      margin: 0 0 0.5em 0;
    }
    .container{
      max-width: 60em;
      background: #fff;
      border-radius:1em;
      display: flex;
      box-shadow: rgba(0,0,0,0.3) 0px 10px 30px;
    }
    #banner{
      width: 100%;
      width: 500px;
      display: flex;
      align-items: center;
      background:  url('../images/illustration-woman-online-desktop.svg'), url('../images/bg-pattern-desktop.svg');
      background-size: 100%, 180%;
      background-position: center;
      background-repeat: no-repeat, no-repeat;
      background-position: -70px center, -400px center;
      position: relative;
    }
    #banner .box{ 
      width: 8em;
      height: 8em;
      position: absolute;
      left: -4em;
      margin-top: 5em;

     }
     .woman{
      display: none;
     }
    #content{
      padding: 5em 3em;
      width: 500px;
    }
    .accordion{
      cursor: pointer;
      width: 100%;
      border: none;
      text-align: left;
      outline: none;
      transition: 0.5s;
      background: none;
      padding:1em 0;
      border-bottom: 1px solid var(--lightblue);
      font-family: var(--bfont);
      font-size: 0.9em;
    }
    .accordion:after{
      background: url('../images/icon-arrow-down.svg') no-repeat;
      content:"";
      width: 10px;
    height: 5px;
    margin-top: 0.5em;
    float: right;
    }
    .panel p{
      max-height: 200px;
      transition: max-height 0.5s ease-in-out;
      color: var(--grayishblue);
      font-size: 0.8em;
    }
     .accordion:hover{
      color: var(--softred);
    }
    .active{
      color: var(--verydarkblue);
      font-weight: 600;
    }
    .panel{
      display: none;
      overflow: hidden;
    }
    footer { font-size: 11px; text-align: center; position: absolute; bottom: 0; margin-bottom: 1em; }
    footer a { color: hsl(228, 45%, 44%); }
    @media (max-width: 780px){
      h1{
        text-align: center;
      }
      main{ align-items: center; }
      .box{
        display: none;
      }
      .woman{
        display: block;
      }
      #banner img{
        width: 95%;
        text-align: center;
        margin: 0 auto;
        margin-top: -10em;
      }
      #banner, #content{
      width: auto;
      height: 100%;
      display: block;
    }
    #content{
      padding: 1em 2em 3em 2em;
    }
      #banner{
        background: url('../images/bg-pattern-mobile.svg') no-repeat;
        background-position: center -0.5em;
        padding: 2.5em;
      }
      .container{
        flex-direction: column;
        margin: 1em;
      }
    }